<div class="container">

    <h2>Edit photo details below</h2>
    <br>



  <%= form_for @photo do |f| %>
  <div class="form-group row">
    <label for="name" class="col-xs-2 col-form-label"><%= f.label :name %></label>
       <div class="col-xs-10" id="name" placeholder="Edit photo name">
         <%= f.text_field :name, class: 'form-control' %>
       </div>
     </div>
     <div class="form-group row">
       <label for="description" class="col-xs-2 col-form-label"><%= f.label :description %></label>
         <div class="col-xs-10" id="description">
         <%= f.text_field :description, class: 'form-control' %>
       </div>
     </div>
    <p>  <%= f.file_field :avatar %></p>
      <p><%= f.submit %></p>
      <% if (current_user.id == @photo.user_id)%>
        <p><%= link_to "Delete #{@photo.name}", photo_path(@photo), method: :delete %></p>
        <% end %>
  <% end %>
</div>
