<!DOCTYPE HTML>

<h1>Pict</h1>

<h2>Share your experiences!</h2>

<% if @photos.any? %>
  <% @photos.each do |photo, index| %>

  <div class="row">

  <b> <%= link_to "View photo", photo_path(photo)%></b>
    <h2> <%= photo.name %> </h2>
    <h2> <%= photo.description %> </h2>
         <%= image_tag(photo.avatar.url(:medium)) %>
        <%= link_to like_photo_path(photo), method: :put do %>
        Upvote
        <%= photo.get_upvotes.size %>
        <% end %>

        <%= link_to dislike_photo_path(photo), method: :put do %>
        Downvote
        <%= photo.get_downvotes.size %>
        <% end %>
  <% end %>
  <% else %>
  <h1>No photos yet!</h1>
  <% end %>



  <a href="/photos/new">Upload a photo</a>
