<!DOCTYPE HTML>

<div class="container">

<h1>Pict</h1>

<h2>Share your experiences!</h2>

<% if @photos.any? %>
  <% @photos.each do |photo, index| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <b><%= link_to "#{photo.name}", photo_path(photo)%></b>
      </div>
  <div class="panel-body">
    <p> <%= photo.description %></p>
    <p><%= image_tag(photo.avatar.url(:medium)) %></p>
    <p><%= link_to like_photo_path(photo), method: :put do %>
      <button id="like" type="button" class="like">
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
      <%= photo.get_upvotes.size %>
    </button>
    <% end %>
  </p>
    <p>
      <%= link_to dislike_photo_path(photo), method: :put do %>
        <button id="dislike" type="button" class="dislike">
          <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
        <%= photo.get_downvotes.size %>
          </button>
        <% end %>
      </p>
      </div>
    </div>
  <% end %>
  <% else %>
  <h1>No photos yet!</h1>
  <% end %>
</div>
