<!DOCTYPE html>

<h1>Pict</h1>

<h3>Name: <%= @photo.name %></h3>
<h4>Description  <%= @photo.description %></h4>

<%= link_to "Edit #{@photo.name}", edit_photo_path(@photo) %>

<%= link_to "Add comment", new_photo_comment_path(@photo) %>

<%= link_to "View comments", photo_comments_path(@photo) %>

<%= image_tag(@image_url) %>
